<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c0f733ba-3268-4931-aa94-f9bbf0261d35/resourceGroups/groupWebDev/providers/Microsoft.ContainerRegistry/registries/blzrwasmApp</ResourceId>
    <ResourceName>blzrwasmApp</ResourceName>
    <ResourceGroup>groupWebDev</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://blzrwasmapp.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>